
@{
    ViewBag.Title = "Result";
}

<h2>İşlem Sonucu</h2>

<div class="container">
    <div class="row">
        <div class="col-md-12 p-b-30">

            <div style="padding:30px; border:1px solid #eee;">

                <h4 class="m-text25 p-b-14">
                    Ödeme Durumu
                </h4>
                <p>
                    @ViewBag.ResultText  Anasayfaya gitmek için <a href="/">tıklayınız</a>
                </p>

            </div>
        </div>

    </div>
</div>

