
@{
    ViewBag.Title = "Index";
}

<div class="section border-bottom pt-2 pb-2">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="breadcrumbs">
                    <li><a href="./">Home</a></li>
                    <li><a href="shortcodes.html">Shop</a></li>
                    <li>My Account</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="section pt-7 pb-7">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="commerce">
                    <h2>Giriş Yap</h2>
                    <form class="commerce-login-form">
                        <div class="row">
                            <div class="col-md-12">
                                <label>E-Posta Adresi<span class="required">*</span></label>
                                <div class="form-wrap">
                                    <input type="text" name="your-name" value="" size="40">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Şifre <span class="required">*</span></label>
                                <div class="form-wrap">
                                    <input type="password" name="your-pass" value="" size="40">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-wrap">
                                    <input name="rememberme" type="checkbox" id="rememberme" value="forever">
                                    <span>Beni Unutma</span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-wrap">
                                    <a href="#">Şifremi Unuttum</a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-wrap">
                                    <input type="submit" value="Giriş Yap">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>