@model List<Enpratik.Data.Blog_Comments>
@{
    Layout = null;

}


<div class="comments-wrap">

    <div id="comments" class="row">
        <div class="col-full">

            <h3 class="h2">Yorumlar</h3>

            <!-- commentlist -->
            <ol class="commentlist">
                
            @if (Model.Count == 0)
            {
                <li class="depth-1 comment">

                    <div class="comment__content">

                        <div class="comment__text">
                            <p>
                                Henüz hiç yorum eklenmemiş, ilk yorumu sen ekle!!
                            </p>
                        </div>

                    </div>

                </li>
            }
            else
            {



                <li class="depth-1 comment">

                    <div class="comment__content">

                        <div class="comment__info">
                            <cite>Itachi Uchiha</cite>

                            <div class="comment__meta">
                                <time class="comment__time">Dec 16, 2017  23:05</time>
                                <a class="reply" href="#0">Reply</a>
                            </div>
                        </div>

                        <div class="comment__text">
                            <p>
                                Adhuc quaerendum est ne, vis ut harum tantas noluisse, id suas iisque mei. Nec te inani ponderum vulputate,
                                facilisi expetenda has et. Iudico dictas scriptorem an vim, ei alia mentitum est, ne has voluptua praesent.
                            </p>
                        </div>

                    </div>

                </li> <!-- end comment level 1 -->

                <li class="thread-alt depth-1 comment">

                    <div class="comment__content">

                        <div class="comment__info">
                            <cite>John Doe</cite>

                            <div class="comment__meta">
                                <time class="comment__time">Dec 16, 2017  24:05</time>
                                <a class="reply" href="#0">Reply</a>
                            </div>
                        </div>

                        <div class="comment__text">
                            <p>
                                Sumo euismod dissentiunt ne sit, ad eos iudico qualisque adversarium, tota falli et mei. Esse euismod
                                urbanitas ut sed, et duo scaevola pericula splendide. Primis veritus contentiones nec ad, nec et
                                tantas semper delicatissimi.
                            </p>
                        </div>

                    </div>

                </li> <!-- end comment level 1 -->
            }
            </ol> <!-- end commentlist -->
            <!-- respond
            ================================================== -->
            <div class="respond">
                @if (Enpratik.Web.Eticaret.Model.Current.User == null)
                {
                    <div class="mb-2">
                        <p style="background: #c1c1c1;padding: 10px;">Yorum yazabilmek için <a href="/hesabim/uye-girisi/?returnUrl=@Request.RawUrl">üye girişi</a> yapmanız gerekmektedir!</p>
                    </div>
                }
                else
                {
                <h3 class="h2">Bir Cevap Yazın</h3>
                    using (Html.BeginForm())
                    {

                        <fieldset>

                            <div class="message form-field">
                                <textarea name="CommentMessage" id="CommentMessage" class="full-width" placeholder="Yorum"></textarea>
                            </div>

                            <button type="submit" class="submit btn--primary btn--large full-width">Submit</button>

                        </fieldset>

                    }
                }
            </div> <!-- end respond -->

        </div> <!-- end col-full -->

    </div> <!-- end row comments -->
</div>