@{
    Layout = null;

    Enpratik.Data.EnPratik_DataHelper db = new Enpratik.Data.EnPratik_DataHelper();
    var categoryList = db.Blog_Categories.Where(c => c.IsActive == true).ToList();

}
<div class="widget widget-product-categories">
    <h3 class="widget-title">Kategoriler</h3>
    <ul class="product-categories">
        @foreach (var item in categoryList)
        {
            <li><a href="/blog-kategori/@item.Url-@item.Id">@item.BlogCategoryName</a> @*<span class="count">2</span>*@</li>
        }
    </ul>
</div>