<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <!--<add name="Enpratik_ConnectionString" connectionString="Server=localhost;Database=Teofarm;Trusted_Connection=True; MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />-->
    <!--<add name="Enpratik_ConnectionString" connectionString="Server=localhost;Database=AtahanHukuk;Trusted_Connection=True; MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />-->
    <!--<add name="Enpratik_ConnectionString" connectionString="Data Source=94.73.147.7;Initial Catalog=u8922404_hukuk;User ID=u8922404_teo2020;Password=DFow98*S8VTow0*7H;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient"/>-->
    <add name="Enpratik_ConnectionString" connectionString="Server=localhost;Database=Hypadia;Trusted_Connection=True; MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
    <!--<add name="Enpratik_ConnectionString" connectionString="Data Source=94.73.170.10;Initial Catalog=u8922404_teofarm;User ID=u8922404_teo2020;Password=ZAjz?06M*5YDld9_8U;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="Enpratik_ConnectionString" connectionString="Server=localhost;Database=Enpratik_V2;Trusted_Connection=True; MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />-->
    <!--<add name="Enpratik_ConnectionString" connectionString="Server=localhost;Database=DenizOrbay;Trusted_Connection=True; MultipleActiveResultSets=true;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="Enpratik_ConnectionString" connectionString="Data Source=213.142.130.24;Initial Catalog=EnPratik_Site;User ID=enpratikDbUser;Password=6i_2*N*8p$j" providerName="System.Data.SqlClient" />-->
    <!--<add name="Enpratik_ConnectionString" connectionString="Server=localhost;Database=AllAboutBride;Trusted_Connection=True; MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />-->
    <!--<add name="Enpratik_ConnectionString" connectionString="Data Source=213.142.130.24;Initial Catalog=allaboutbride_demo;User ID=allaboutbride_demo_user;Password=V*8l7y#j5" providerName="System.Data.SqlClient" />-->
    <!--<add name="Enpratik_ConnectionString" connectionString="Server=localhost;Database=Teofarm;Trusted_Connection=True; MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />-->
    <!--<add name="Enpratik_ConnectionString" connectionString="Server=localhost;Database=AyakliGazete;Trusted_Connection=True; MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />-->
    <!--<add name="Enpratik_ConnectionString" connectionString="Server=localhost;Database=Maxaworld;Trusted_Connection=True; MultipleActiveResultSets=true;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="Enpratik_ConnectionString" connectionString="Server=localhost;Database=Kubraws;Trusted_Connection=True; MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />-->
    <!--<add name="Enpratik_ConnectionString" connectionString="Server=localhost;Database=CantapakBaskili;Trusted_Connection=True; MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />-->
    <!--<add name="Enpratik_ConnectionString" connectionString="Data Source=213.142.146.129;Initial Catalog=AyakliGazete;User ID=ayakligazeteUser;Password=qwerty123" providerName="System.Data.SqlClient"/>-->
    <!--<add name="Enpratik_ConnectionString" connectionString="Server=localhost;Database=wakeupcallbebe;Trusted_Connection=True; MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <!--<add key="WebSiteUrl" value="http://hypedia.enpratik.net"/>-->
    <add key="WebSiteUrl" value="http://localhost:61961"/>
    <add key="SmtpHost" value="mail.enpratik.net" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpEnableSsl" value="false" />
    <add key="SmtpUseDefaultCredentials" value="true" />
    <add key="MailToAddress" value="demo@enpratik.net" />
    <add key="MailFromAddress" value="demo@enpratik.net" />
    <add key="MailFromPassword" value="08j_w8*Ov" />
    <add key="SendOrderMailAddress" value="demo@enpratik.net" />
    <add key="ContactUsMailAddress" value="iletisim@enpratik.net" />
    <add key="IyzicoApiKey" value="sandbox-2MC75fVUtQNwpTW0Xm3nIT15unOKmkhe" />
    <add key="IyzicoSecretKey" value="sandbox-cKHBdTisqYPcQO88tFc6GO1mZn80qdW0" />
    <add key="IyzicoBaseUrl" value="https://sandbox-api.iyzipay.com" />
    <!--<add key="SmtpHost" value="smtp.gmail.com" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpEnableSsl" value="true" />
    <add key="SmtpUseDefaultCredentials" value="false" />
    <add key="MailToAddress" value="info@teofarm.com" />
    <add key="MailFromAddress" value="info@teofarm.com" />
    <add key="MailFromPassword" value="Alibayir.1" />-->
    <!--<add key="SmtpHost" value="mail.enpratik.net"/>
    <add key="SmtpPort" value="587"/>
    <add key="SmtpEnableSsl" value="false"/>
    <add key="SmtpUseDefaultCredentials" value="true"/>
    <add key="MailToAddress" value="demo@enpratik.net"/>
    <add key="MailFromAddress" value="demo@enpratik.net"/>
    <add key="MailFromPassword" value="08j_w8*Ov"/>-->
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="ThemeBasePath" value="Themes"/>
    <!--<add key="ThemeName" value="EnPratikNet"/>-->
    <!--<add key="ThemeName" value="Teofarm" />-->
    <!--<add key="ThemeName" value="AtahanHukuk" />-->
    <!--<add key="ThemeName" value="AllAboutBride" />-->
    <add key="ThemeName" value="Hypedia" />
    <!--<add key="ThemeName" value="tema1" />-->
    <!--<add key="ThemeName" value="CantapakBaskili"/>-->
    <!--<add key="ThemeName" value="Wakeupcallbebek" />-->
    <!--<add key="ThemeName" value="DenizOrbay"/>-->
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <sessionState timeout="120" mode="InProc" />
    <customErrors mode="Off"/>
    <compilation targetFramework="4.6.1" debug="true"/>
    <httpRuntime targetFramework="4.6" requestValidationMode="2.0"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
    <machineKey validationKey="2ED9147CF7908687D2A6EAA8C2CC8040A8018CDB9EC7642037950C099C9B5D8CB47EE711310248D577F615ACD554F6C7AFE96D8B519D62042773FA87B8732BF7" decryptionKey="0E21DA5B23351AF2BE5347280625D12CB067EB8D5DF18D97A9B4C870D6A19808" validation="SHA1" decryption="AES"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.webServer>
    <httpErrors errorMode="Custom">
      <remove statusCode="404"/>
      <error statusCode="404" path="/404" responseMode="ExecuteURL"/>
    </httpErrors>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
    </modules>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>