
@{
    ViewBag.Title = "Index";
    ViewBag.PageStyleClass = "contactus";

    string name = "", phoneNumber = "", email = "", message = "";

    if (ViewBag.Name != null)
    {
        name = ViewBag.Name;
    }

    if (ViewBag.PhoneNumber != null)
    {
        phoneNumber = ViewBag.PhoneNumber;
    }

    if (ViewBag.Email != null)
    {
        email = ViewBag.Email;
    }

    if (ViewBag.Message != null)
    {
        message = ViewBag.Message;
    }

}

<section class="top_panel_image">
    <div class="top_panel_image_hover"></div>
    <div class="top_panel_image_header">
        <div class="top_panel_image_icon icon-book-open"></div>
        <h1 class="top_panel_image_title">Contacts Us</h1>
        <div class="breadcrumbs">
            <a class="breadcrumbs_item home" href="index.html">Home</a>
            <span class="breadcrumbs_delimiter"></span>
            <span class="breadcrumbs_item current">Contacts Us</span>
        </div>
    </div>
</section>
<div class="page_content_wrap page_paddings_yes">
    <div class="content_wrap">
        <div class="content">
            <article class="post_item post_item_single page">
                <section class="post_content">
                    <div class="sc_row row sc_row-fluid">
                        <div class="column sc_column_container sc_col-sm-12">
                            <div class="sc_column-inner ">
                                <div class="wrapper">
                                    <div class="sc_section sc_section_block cu_mrg_5">
                                        <div class="sc_section_inner">
                                            <h6 class="sc_section_subtitle sc_item_subtitle">Get In Touch</h6>
                                            <h2 class="sc_section_title sc_item_title line_hide">How to Find Us</h2>
                                            <div class="sc_section_content_wrap">
                                                <div class="columns_wrap sc_columns columns_nofluid">
                                                    <div class="column-1_2 sc_column_item">
                                                        <h5 class="sc_title sc_title_regular sc_align_center">About us</h5>
                                                        <div class="text_column content_element ">
                                                            <div class="wrapper">
                                                                <p>
                                                                    Please feel free to ask us any question. You can call us, mail us or you can just fill the form below and we will call you back. We are waiting to hear from you!
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="sc_empty_space em_height_3">
                                                            <span class="sc_empty_space_inner"></span>
                                                        </div>
                                                    </div>
                                                    <div class="column-1_2 sc_column_item">
                                                        <h5 class="sc_title sc_title_regular sc_align_center">Contacts</h5>
                                                        <div class="text_column content_element ">
                                                            <div class="wrapper">
                                                                <p>
                                                                    Email:<br />
                                                                    <a href="mailto:info@yoursite.com">info@maxaworld.com </a>
                                                                    <br />
                                                                    Telephone:<br /> 
                                                                    <a href="tel:+902122117474">+902122117474</a>
                                                                    <br />
                                                                    <a href="tel:+905525290074">+905525290074</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="sc_empty_space em_height_3">
                                                            <span class="sc_empty_space_inner"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sc_empty_space em_height_3-7">
                                        <span class="sc_empty_space_inner"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sc_row row sc_row-fluid">
                        <div class="column sc_column_container sc_col-sm-12">
                            <div class="sc_column-inner ">
                                <div class="wrapper">
                                    <div class="sc_section sc_section_block aligncenter max_width cu_width-770">
                                        <div class="sc_section_inner">
                                            <div class="sc_section_content_wrap">
                                                <h2 class="sc_title sc_title_regular cu_mrg_5">have any questions?</h2>
                                                <div id="sc_form_629_wrap" class="sc_form_wrap">
                                                    <div id="sc_form_629" class="sc_form sc_form_style_form_3">
                                                        <form id="sc_form_629_form" data-formtype="form_3" method="post" action="includes/sendmail.php">
                                                            <div class="sc_form_info">
                                                                <div class="sc_form_item sc_form_field label_over">
                                                                    <label class="required" for="sc_form_username">Name</label>
                                                                    <input id="sc_form_username" type="text" name="username" placeholder="Your Name">
                                                                </div>
                                                                <div class="sc_form_item sc_form_field label_over">
                                                                    <label class="required" for="sc_form_email">E-mail</label>
                                                                    <input id="sc_form_email" type="text" name="email" placeholder="E-mail Address">
                                                                </div>
                                                                <div class="sc_form_item sc_form_field label_over">
                                                                    <label class="required" for="sc_form_subj">Subject</label>
                                                                    <input id="sc_form_subj" type="text" name="subject" placeholder="Subject">
                                                                </div>
                                                            </div>
                                                            <div class="sc_form_item sc_form_message label_over">
                                                                <label class="required" for="sc_form_message">Message</label>
                                                                <textarea id="sc_form_message" name="message" placeholder="Your Message"></textarea>
                                                            </div>
                                                            <div class="sc_form_item sc_form_button">
                                                                <button class="sc_button sc_button_style_filled sc_button_size_medium">
                                                                    <span class="overlay">
                                                                        <span class="first">Submit message</span>
                                                                        <span class="second">Submit message</span>
                                                                    </span>
                                                                </button>
                                                            </div>
                                                            <div class="result sc_infobox"></div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </article>
            <section class="related_wrap related_wrap_empty"></section>
        </div>
    </div>
</div>
