@model Enpratik.Data.WidgetsDTO
@{
    Layout = null;

    Enpratik.Data.EnPratik_DataHelper db = new Enpratik.Data.EnPratik_DataHelper();

    var categoryList = db.Categories.Where(c => c.IsActive == true & c.Published == true).ToList();
}

<h4 class="m-text14 p-b-7">Ürün Kategorileri</h4>
<ul class="p-b-54">
    @foreach (var item in categoryList)
    {
        <li class="p-t-4">
            <a href="/urun-kategori/@item.getUrl()-@item.Id" class="s-text13 active1">@item.CategoryName</a>
        </li>
    }

</ul>