@model Enpratik.Data.WidgetsDTO
@{
    Layout = null;
}

<div class="widget widget-products">
    <h3 class="widget-title">Products</h3>
    <ul class="product-list-widget">
        <li>
            <a href="shop-detail.html">
                <img src="~/Themes/Teofarm/Content/images/shop/shop_100x100.jpg" alt="" />
                <span class="product-title">Orange Juice</span>
            </a>
            <del>$15.00</del>
            <ins>$12.00</ins>
        </li>
        <li>
            <a href="shop-detail.html">
                <img src="~/Themes/Teofarm/Content/images/shop/shop_100x100.jpg" alt="" />
                <span class="product-title">Aurore Grape</span>
            </a>
            <ins>$9.00</ins>
        </li>
        <li>
            <a href="shop-detail.html">
                <img src="~/Themes/Teofarm/Content/images/shop/shop_100x100.jpg" alt="" />
                <span class="product-title">Blueberry Jam</span>
            </a>
            <ins>$15.00</ins>
        </li>
        <li>
            <a href="shop-detail.html">
                <img src="~/Themes/Teofarm/Content/images/shop/shop_100x100.jpg" alt="" />
                <span class="product-title">Passionfruit</span>
            </a>
            <ins>$35.00</ins>
        </li>
        <li>
            <a href="shop-detail.html">
                <img src="~/Themes/Teofarm/Content/images/shop/shop_100x100.jpg" alt="" />
                <span class="product-title">Carrot</span>
            </a>
            <ins>$12.00</ins>
        </li>
    </ul>
</div>
