@model Enpratik.Data.WidgetsDTO
@using Enpratik.Data;
@using Enpratik.Core;
@{
    Layout = null;

    Enpratik.Data.EnPratik_DataHelper db = new Enpratik.Data.EnPratik_DataHelper();

    var blogs = db.Blogs.Where(b => b.IsActive == true & b.IsPublished == true).OrderByDescending(b => b.Id).ToList();
}



<section class="blog bgwhite p-t-94 p-b-65">
    <div class="container">
        <div class="sec-title p-b-52">
            <h3 class="m-text5 t-center">
                Blog Yazılarımız
            </h3>
        </div>

        <div class="row">
            @foreach (var item in blogs)
            {

                var blogUrl = item.getUrl()+"-"+item.Id;

            <div class="col-sm-10 col-md-4 p-b-30 m-l-r-auto">
                <!-- Block3 -->
                <div class="block3">
                    <a href="/blog/@blogUrl" class="block3-img dis-block hov-img-zoom">
                        <img src="/admin/@item.BlogImages" onerror="this.src = 'https://www.enpratik.net/img/no-image.png'" alt="@item.BlogTitle">
                    </a>

                    <div class="block3-txt p-t-14">
                        <h4 class="p-b-7">
                            <a href="/blog/@blogUrl" class="m-text11">
                                @item.BlogTitle
                            </a>
                        </h4>

                        <span class="s-text6">By</span> <span class="s-text7">Admin</span>
                        <span class="s-text6">on</span> <span class="s-text7">@item.CreatedDate</span>

                        <p class="s-text8 p-t-16">
                            @item.ShortDescription
                        </p>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</section>