@model Enpratik.Data.WidgetsDTO
@{
    Layout = null;
    Enpratik.Data.EnPratik_DataHelper db = new Enpratik.Data.EnPratik_DataHelper();

    var jsonParams = Enpratik.Core.Functions.GetWidgetContent(Model.WidgetZonesParamMapping.ParamJson);
    var param = jsonParams.Where(s => s.ParameterName.Equals("sliderId")).Select(s => s.ParameterValue).FirstOrDefault();
    int sliderId = Convert.ToInt32(param);
    var slider = db.Sliders.Where(s => s.IsActive == true & s.Id == sliderId).FirstOrDefault();
    var sliderImages = db.SliderImageMappings.Where(s => s.SliderId == sliderId).ToList();
}

<aside id="colorlib-hero">
    <div class="flexslider">
        <ul class="slides">
            @foreach (var item in sliderImages)
            {
                <li style="background-image: url(@("/admin"+item.SliderImageUrl));">
                    <div class="overlay"></div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-md-offset-3 slider-text">
                                @*<div class="slider-text-inner text-center">
                                    <h1>This is a Lifestyle There is no Finish Line</h1>
                                    <p><a href="#" class="btn btn-primary btn-lg btn-learn">Join Classes</a></p>
                                </div>*@
                            </div>
                        </div>
                    </div>
                </li>
            }

        </ul>
    </div>
</aside>

