@model Enpratik.Data.WidgetsDTO
@{
    Layout = null;
}

<div id="colorlib-subscribe" class="subs-img" style="background-image: url(/Themes/Fitnotes/Content/images/newsletter_subscription_bg.png);">
    <div class="overlay"></div>
    <div class="container" style="margin:0;">
        <div class="row" style="margin-left:-150px!important">
            <div class="col-md-7 col-md-offset-2 text-right colorlib-heading animate-box">
                <h2 style="text-transform: none;">Download FREE Breakfast Guide</h2>
                <p>+ Limited Time Offer %30 Discount</p>
            </div>
        </div>
        <div class="row animate-box">
            <form class="form-inline qbstp-header-subscribe">
                <div class="col-md-4 text-right">
                    <div class="form-group">
                        <input type="text" class="form-control" name="email" placeholder="Write your e-mail adress">
                    </div>
                </div>
                <div class="col-md-3 text-right">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Send Me Now!</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>