
@{
    ViewBag.Title = "İletişim";
}
<section class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                <h3 class="text-center">İLETİŞİM</h3>
                <p class="mb-20">
                    Tüm soruların, şikayetlerin ve isteklerin için bizimle iletişime geç:
                </p>
                <a class="hy-anchor-blue-link" href="mailto:info@hypadia.com">info@hypadia.com</a>
                <p class="hy-seperator">ya da</p>
                <form action="">
                    <div class="form-group">
                        <label class="form-label">Ad Soyad</label>
                        <input type="text" class="form-control" placeholder="adınızı ve soyadınızı giriniz" required autofocus>
                        <span class="form-valid">lütfen ad soyad alanını boş bırakmayınız</span>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Email</label>
                        <input type="email" class="form-control" placeholder="email adresinizi giriniz" required>
                        <span class="form-valid">lütfen email alanını boş bırakmayınız</span>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Mesaj</label>
                        <textarea rows="9" cols="50" class="form-control" placeholder="mesajınızı buraya yazabilirsiniz" required></textarea>
                        <span class="form-valid">lütfen mesaj alanını boş bırakmayınız</span>
                    </div>
                    <button class="btn btn-primary">GÖNDER</button>
                </form>
            </div>
            <div class="col-md-offset-4 col-md-4">
                <h4 class="process-section">
                    Hypadia Elektronik Ticaret Pazarlama Ltd. Şti
                </h4>
                <p>
                    <strong>Adres:</strong> Tarabya Mah. Sanatçılar (Han Çayırı Yolu Sokak) Küme Evl. 44L Blok No:3 Kapı No10 PK 34457 Sarıyer / İstanbul
                </p>
            </div>
        </div>
    </div>
</section>
