@model Enpratik.Data.WidgetsDTO
@{
    Layout = null;

    Enpratik.Data.EnPratik_DataHelper db = new Enpratik.Data.EnPratik_DataHelper();

    var categoryList = db.Categories.Where(c => c.IsActive == true & c.Published == true).ToList();
}

<div class="widget widget-product-categories">
    <h3 class="widget-title">Ürün Kategorileri</h3>
    <ul class="product-categories">
        @foreach (var item in categoryList)
        {
            var url = "/urun-kategori/" + item.getUrl() + "-" + item.Id;

            <li><a href="@url">@item.CategoryName</a> <span class="count"></span></li>
        }
    </ul>
</div>